name: dockerbuild-and-push

on:
  push:
    branches:
      - "master"
       
jobs:
  build-container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and push Docker images
        uses: docker/build-push-action@v3.2.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: amaraldavi1/meu-custom-nginx
          tags: latest, ${{ github.run_number }}
          push: true
          file: Dockerfile
          context: .


