name: dockerbuild-and-push

on:
  push:
    branches:
      - "master"
       
jobs:
  build-container:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build-Image
        run: docker build . --file Dockerfile --tag my-custom-nginx
